PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:1234@localhost:5432/moonfit_db?schema=public"

JWT_ACCESS_SECRET="your_jwt_access_secret_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION_DAYS=30

STORAGE_PATH="./storage"

ADMIN_INITIAL_EMAIL="admin@moonfit.com"
ADMIN_INITIAL_PASSWORD="AdminPassword123!"
